{
  "security/cors": {
    "allow_origins": [
      "*"
    ],
    "allow_methods": [
      "GET",
      "HEAD",
      "POST"
    ],
    "expose_headers": [
      "Content-Length",
      "Content-Type",
      "Authorization"
    ],
    "allow_headers": [
      "Origin",
      "Content-Type",
      "Accept-Language",
      "Authorization"
    ],
    "max_age": "12h",
    "allow_credentials": true,
    "debug": true
  }
}